body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-border {
    margin-top: 100px !important;
    border: 1px solid #B6B6B6;
    padding: 15px;
    padding-bottom: 75px !important;
    float: none !important;
    margin: 0 auto;
    vertical-align: middle;
}

.label-text {
    color: #55B95E;
    font: 15px;
}

.login-container {
    align-content: center;
}


.login-header {
    text-align: center;
    background-color: #55B95E;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

    .login-header strong {
        background-color: #7BF486;
        padding: 5px;
        font-size: 18px;
    }

.margintop20 {
    margin-top: 20px;
}

.btn-default{
     background-color: #55B95E !important;
    text-align:left !important;
}